body,
html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

.container {
    height: 100%;
    width: 100%;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.box {
    width: 300px;
    height: 300px;
    background-color: black;
    margin: 20px;
}

@media screen and (max-width: 560px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}

@media(min-width: 768px) {
    /* For desktop: */
    .col-1 {
        width: 20%;
    }
    .col-2 {
        width: 20%;
    }
    .col-3 {
        width: 20%;
    }
    .col-4 {
        width: 20%;
    }
    .col-5 {
        width: 20%;
    }
    .col-6 {
        width: 20%;
    }
    .col-7 {
        width: 20%;
    }
    .col-8 {
        width: 20%;
    }
    .col-9 {
        width: 20%;
    }
    .col-10 {
        width: 20%;
    }
    .col-11 {
        width: 20%;
    }
    .col-12 {
        width: 20%;
    }
}